.charts-container {
  display: flex;           
  flex-wrap: wrap;       
  justify-content: center; 
  gap: 2rem;             
}

.chart-section {
  flex-grow: 1;           
  flex-basis: 400px;         
  min-width: 300px;
}
