{{> header isLeaderboard=true}}

<div class="leaderboard-container">

  <div class="leaderboard-header">
    <h1>Leaderboard</h1>
    <p>Compare spending with friends or see the global rankings</p>
  </div>

  <div class="leaderboard-tabs">
    <button id="global-tab" class="tab-btn active">Global</button>
    <button id="friends-tab" class="tab-btn">Friends</button>
  </div>

  <div id="leaderboard-list" class="leaderboard-list">
    <!-- JS will populate rows -->
  </div>

</div>

<script src="/src/resources/js/leaderboard.js"></script>

{{> footer year=year}}