{{> header isLeaderboard=true}}

<div class="leaderboard-container">

  <div class="leaderboard-header">
    <h1>Leaderboard</h1>
    <p>Compete with budget-savvy users around the globe</p>
  </div>

  <div id="leaderboard-list" class="leaderboard-list">
    <!-- Populated by leaderboard.js -->
  </div>

</div>

<script src="/resources/js/leaderboard.js"></script>

{{> footer year=year}}
