<div class="leaderboard-container">

  <div class="leaderboard-header">
    <h1>Leaderboard</h1>
    <p>Ranked by how much of their monthly budget users are saving.</p>
  </div>

  <div class="leaderboard-tabs">
    <button id="global-tab" class="tab-btn active">Global</button>
    <button id="friends-tab" class="tab-btn">Friends</button>
  </div>

  <div id="leaderboard-list" class="leaderboard-list">
    <!-- Populated by leaderboard.js -->
  </div>

</div>

<script src="/resources/js/leaderboard.js"></script>

{{> footer year=year}}
