{{> header isAddTransaction=true }}

<main class="main-container">
  <div class="transaction-page">
    <h1>Add Transaction</h1>
    <!-- add stuff here, feel free to change whatev  -->
    
  </div>
</main>

{{> footer year=year }}